:root {
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --black: #101010;
  --light-black: #191919;
  --red: #f9004d;
  --red-gradient: linear-gradient(145deg, #f81f01, #ee076e);
  --red-gradient-top-bottom: linear-gradient(180deg, red, #ff4a32, transparent);
  --para-font-18size: 18px;
}
@font-face {
  font-family: "pop-regular";
  src: url(fonts/dm-sans-font/DmSansRegular-ZVWM3.ttf);
}
@font-face {
  font-family: "pop-medium";
  src: url(fonts/dm-sans-font/DmSansMedium-Ea9KW.ttf);
}
@font-face {
  font-family: "pop-medium-italic";
  src: url(fonts/dm-sans-font/DmSansMediumItalic-OVw36.ttf);
}
@font-face {
  font-family: "pop-italic";
  src: url(fonts/dm-sans-font/DmSansItalic-axW0K.ttf);
}
@font-face {
  font-family: "pop-bold";
  src: url(fonts/dm-sans-font/DmSansBold-eZ5xm.ttf);
}
@font-face {
  font-family: "pop-bold-italic";
  src: url(fonts/dm-sans-font/DmSansBoldItalic-Wy01n.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2 all ease-in-out !important;
  font-family: pop-regular;
}
html {
  scroll-behavior: smooth;
}
a {
  color: var(--white);
}
/* a:hover {
  color: unset !important;
} */
