@media (max-width: 1200px) {
  .about-section {
    padding: 100px 0px;
  }
  .about-section-img-relative {
    margin-top: unset;
  }
  .news-section-bottom-card-content-container {
    top: 60%;
  }
  .news-section-bottom-card
    a:hover
    .news-section-bottom-card-content-container {
    top: 40%;
  }
  .news-section-card-header {
    font-size: 20px;
    line-height: 30px;
    margin: 15px 0px 45px !important;
  }
}
/* ///////////////////////////////////////////////// */
@media (max-width: 991px) {
  .hero-section {
    padding: 30px;
  }
  .hero-section-header {
    padding: 0px !important;
  }
  .hero-section-header h1,
  .hero-section-header span {
    font-size: 70px;
    line-height: 70px;
  }
  .hero-section-details-card {
    padding: 15px 15px !important;
  }
  .about-section {
    padding: 100px 30px;
  }
  .about-section-img-container {
    padding: unset !important;
    margin-bottom: 25px !important;
  }
  .about-section-details-container {
    padding: unset !important;
  }
  .services-section {
    padding: 80px 30px;
  }

  .services-section-right-container {
    margin-top: 50px;
  }
  .services-section-right-card {
    margin: 0 !important;
  }
  .works-section {
    padding: 80px 30px;
  }
  .works-section-top-container {
    width: 100% !important;
  }
  .works-section-card-container-content {
    padding: 55px 12px;
  }
  .employees-section-top {
    width: 90%;
  }
  .top-main-para {
    font-size: 28px;
    line-height: 48px;
    padding: 0;
  }

  .news-section-top-container-link {
    text-align: unset;
  }
  .news-section-bottom-container {
    grid-template-columns: auto auto;
    gap: 25px;
  }
  .news-section-bottom-card-content-container {
    top: 65%;
  }
  .news-section-bottom-card
    a:hover
    .news-section-bottom-card-content-container {
    top: 40%;
  }
  .news-section-tag {
    width: 100%;
  }
  .footer-left {
    margin-top: 0px;
    border-top-right-radius: 0px;
    justify-content: start;
    padding: 0px 60px;
  }
  .footer-left-content {
    width: 50%;
  }
}
/* ///////////////////////////////////////////////// */
@media (max-width: 767px) {
  .hero-section-header h1,
  .hero-section-header span {
    font-size: 50px;
    line-height: 70px;
  }
  .hero-section-details {
    margin: 0px !important;
  }
  .about-section-details-top-container {
    margin-bottom: 30px;
  }
  .about-section-details-top-title {
    font-size: 36px;
  }
  .about-section-details-bottom-left-title,
  .about-section-details-bottom-right-title {
    font-size: 26px;
  }
  .services-section-left-container h2 {
    font-size: 36px;
    margin-bottom: 7px;
  }
  .works-section-card:hover {
    transform: scale(1.05);
  }
  .works-section-top-container h2 {
    font-size: 36px;
    margin-bottom: 7px;
  }
  .employees-section-top {
    width: 90%;
  }
  .top-main-para {
    font-size: 17px !important;
    line-height: 30px !important;
    padding: 0;
    font-weight: 400;
  }
  .top-secondary-para span,
  .top-secondary-para {
    font-size: 14px;
    line-height: 20px;
  }
  .employees-section-bottom {
    max-width: 410px;
  }
  .news-section-bottom-container {
    grid-template-columns: auto;
    gap: 25px;
  }

  .news-section-bottom-card-content-container {
    top: 80%;
  }
  .news-section-bottom-card
    a:hover
    .news-section-bottom-card-content-container {
    top: 60%;
  }
  .news-section-card-header {
    font-size: 24px;
    line-height: 30px;
    margin: 15px 0px 55px !important;
  }
  .news-section-tags-container {
    justify-content: space-between !important;
  }
  .news-section-tag-container {
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .footer-left {
    height: 300px;
  }
  .talk-us {
    top: 10%;
    width: 30%;
  }
  .footer-left-content-header {
    font-size: 45px;
    line-height: 51px;
  }
}
/* ///////////////////////////////////////////////// */
@media (max-width: 575px) {
  .hero-section-header h1,
  .hero-section-header span {
    font-size: 40px;
    line-height: 50px;
  }
  .hero-section-details-card-img-container img {
    height: 45px;
  }
  .hero-section-details-card-header-container {
    margin: 15px 0px !important;
  }
  .hero-section-details-card-header-container h4 {
    font-size: 19px;
  }
  .hero-section-details-card-para-container p {
    font-size: 17px;
  }
  .services-section-right-card {
    margin: 11px 0px !important;
  }
  .services-section-right-card::before {
    opacity: 1;
  }
  .services-section-right-card-logo svg {
    color: var(--white);
  }
  .services-section-right-card-para {
    color: var(--white);
  }
  .works-section-card-container-content {
    padding: 55px 15px;
  }
  .works-section-card-case-para {
    width: 115px !important;
  }
  .facts-section h2 {
    font-size: 26px;
  }
  .facts-container {
    margin: 30px 0px;
  }
  .counter-container {
    padding: 0px 30px !important;
  }
  .counter {
    font-size: 45px !important;
  }
  .news-section-bottom-card-content-container {
    top: 60%;
  }
  .news-section-bottom-card
    a:hover
    .news-section-bottom-card-content-container {
    top: 60%;
  }
  .news-section-card-header {
    margin: 15px 0px !important;
  }
  .news-section-bottom-card .overlay {
    opacity: 0.7;
  }

  .news-section-tag:hover {
    transform: scale(1.2);
  }
  .footer-left-content {
    width: 100%;
  }
  .talk-us {
    top: 5%;
    width: 45%;
  }
  .quick-link,
  .say-hello {
    margin-bottom: 15px;
  }
}
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
@media (max-width: 375px) {
  .hero-section {
    padding: 30px 10px;
  }
  .hero-section-details-card {
    padding: 0px !important;
  }
  .about-section {
    padding: 50px 10px;
  }
  .services-section {
    padding: 50px 10px;
  }
  .services-section-right-card:hover {
    transform: unset !important;
  }
  .swiper-pagination {
    bottom: -60px !important;
  }
  .works-section {
    padding: 80px 20px;
  }
  .facts-section {
    padding: 30px 0px 10px;
  }
  .counter-container {
    padding: 0px 0px !important;
  }
  .counter-description {
    font-size: 16px;
  }
  .employees-section-bottom .nav li {
    width: 21% !important;
  }
  .news-section {
    padding: 80px 0px;
  }
  .news-section-bottom-card-content-container {
    top: 55%;
  }
  .news-section-bottom-card
    a:hover
    .news-section-bottom-card-content-container {
    top: 55%;
  }
  .news-section-card-header {
    font-size: 15px;
    line-height: 20px;
  }
  .news-section-tag-container {
    margin-left: 5px;
    margin-bottom: 23px;
  }
  .talk-us {
    top: 5%;
    width: 70%;
  }
}
