.hero-section {
  background-color: var(--black);
  padding: 100px;
}

.hero-section-header h1,
.hero-section-header span {
  background: var(--red-gradient);
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 100px;
  line-height: 112px;
}
.hero-section-details {
  margin: 25px 0px;
  padding: 0px;
}
.hero-section-details-card {
  padding: 0px 15px 0px 0px !important;
}
.hero-section-details-card-header-container h4 {
  color: var(--white);
  font-family: "pop-medium";
}
.hero-section-details-card-para-container p {
  color: var(--gray);
  font-size: var(--para-font-18size);
}
/* //////////////////////////////////////////////// */
.about-section {
  background-color: var(--light-black);
  padding: 0px 0px 100px;
}
.about-section-img-container {
  padding: 0px 30px 0px 0px !important;
}
.about-section-img-relative {
  margin-top: -85px;
  max-width: 100%;
}
.about-section-img-relative img {
  border-radius: 10px;
  width: 100%;
}
.about-section-details-container {
  padding: 0px 30px !important;
}
.about-section-details-top-container {
  margin-bottom: 50px;
}
.about-section-details-top-title {
  color: var(--white);
  font-family: "Montserrat";
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-section-details-top-description {
  color: var(--gray);
  font-size: var(--para-font-18size);
}
.about-section-details-bottom-left-title,
.about-section-details-bottom-right-title {
  color: var(--white);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}
.about-section-details-bottom-left-description,
.about-section-details-bottom-right-description {
  color: var(--gray);
  font-size: var(--para-font-18size);
}
/* //////////////////////////////////////////////// */
.services-section {
  background-color: var(--black);
  padding: 80px 0px;
}
.services-section-left-container h2 {
  color: var(--white);
  font-family: "Montserrat";
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}
.services-section-left-container p {
  color: var(--gray);
  font-size: var(--para-font-18size);
  margin-bottom: 30px;
}
.services-section-left-container a {
  color: var(--white);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.services-section-left-container a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 20%;
  height: 1px;
  background: var(--red-gradient);
  transition: 0.3s all ease-in-out;
}
.services-section-left-container a:hover {
  color: var(--white) !important;
}
.services-section-left-container a:hover::before {
  width: 100%;
}
.services-section-right-card {
  border-radius: 15px;
  position: relative;
  display: block;
  transition: 0.3s all ease-in-out;
  padding: 30px;
  margin: 10px;
}

.services-section-right-card:hover {
  transform: translateY(-0.5rem) !important;
}
.services-section-right-card::before {
  content: "";
  border-radius: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: var(--red-gradient);
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.services-section-right-card:hover::before {
  opacity: 1;
}
.services-section-right-card > * {
  position: relative;
  z-index: 10;
}

.services-section-right-card-logo svg {
  font-size: 54px;
  color: var(--red);
  transition: 0.3s all ease-in-out;
}
.services-section-right-card:hover .services-section-right-card-logo svg {
  color: var(--white);
}
.services-section-right-card:hover .services-section-right-card-para {
  color: var(--white);
}
.services-section-right-card-header {
  margin: 20px 0px;
  color: var(--white);
  font-family: "pop-regular";
  font-weight: normal;
  font-size: 19px;
}
.services-section-right-card-para {
  color: var(--gray);
  font-family: "pop-regular";
  font-weight: normal;
  font-size: 19px;
  transition: 0.3s all ease-in-out;
}
/* //////////////////////////////////////////////// */
.works-section {
  background-color: var(--light-black);
  padding: 100px 0px;
  overflow: hidden !important;
}
.works-section-top-container {
  width: 50% !important;
}
.works-section-top-container h2 {
  color: var(--white);
  font-family: "Montserrat";
  font-size: 60px;
  font-weight: 700;
}
.works-section-top-container p {
  color: var(--gray);
  font-size: var(--para-font-18size);
  margin-bottom: 30px;
}

.works-section .swiper {
  width: 100%;
  height: 100%;
  overflow: unset;
}
.works-section .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.works-section .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works-section .swiper-slide {
  width: 60%;
}

.works-section .swiper-slide:nth-child(2n) {
  width: 40%;
}

.works-section .swiper-slide:nth-child(3n) {
  width: 20%;
}
.swiper-pagination {
  bottom: -80px !important;
}
.swiper-pagination-bullet {
  background-color: var(--gray) !important;
  margin-right: 25px !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--white) !important;
  width: 12px !important;
  height: 12px !important;
}
.works-section-card {
  position: relative;
  display: block;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}
.works-section-card:hover {
  transform: scale(1.1);
}

.works-section-card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: var(--red-gradient-top-bottom);
  opacity: 0;
  transition: 0.4s all ease-in-out;
  z-index: 1;
}
.works-section-card:hover::before {
  opacity: 0.8;
}
.works-section-card .works-section-card-container-content {
  position: relative;
  z-index: 10;
}
.works-section-card-container-content {
  padding: 55px 30px;
  min-height: 500px;
}
.works-section-card-category-para {
  font-size: 14px;
  color: var(--white);
  margin: 0px !important;
}
.works-section-card-header {
  color: var(--white);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 15px 0px !important;
}
.works-section-card-case-para {
  color: var(--white);
  border: 2px solid var(--white);
  font-size: 14px;
  padding: 7px;
  text-align: center;
  width: 150px !important;
  /* max-width: 150px !important; */
  border-radius: 6px;
  transition: 0.3s all ease-in-out;
}
.works-section-card-case-para:hover {
  background-color: var(--red);
  border: 2px solid var(--red);
  transform: translateY(-5px);
}
.works-section-card-container-1 {
  position: relative;
  background-image: url(images/10024.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.works-section-card-container-2 {
  position: relative;
  background-image: url(images/10025.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.works-section-card-container-3 {
  position: relative;
  background-image: url(images/10026.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.works-section-card-container-4 {
  position: relative;
  background-image: url(images/10027.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* //////////////////////////////////////////////// */
.facts-section {
  background-color: var(--light-black);
  padding: 50px 0px;
}
.facts-section h2 {
  color: var(--white);
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 500;
}
.facts-container {
  margin: 40px 0px;
}
.counter-container {
  padding: 0px 50px !important;
}
.counter {
  font-family: "pop-medium";
  color: var(--red);
  font-size: 72px;
  font-weight: 600 !important;
  position: relative;
}
.counter::after {
  content: "+";
  font-size: 40px;
  position: absolute;
}
.counter-description {
  color: var(--gray);
  font-family: "pop-medium";
  font-size: 18px;
  line-height: 30px;
}
/* //////////////////////////////////////////////// */
.employees-section {
  background-color: var(--black);
  padding: 80px 0px;
}
.employees-section-top {
  width: 75%;
  margin: auto;
  text-align: center;
}
.top-main-para {
  font-size: 36px;
  line-height: 58px;
  font-family: "pop-bold";
  color: var(--white);
  font-weight: 600;
}
.top-secondary-para span {
  color: var(--white);
  font-family: "pop-bold";
  font-size: 18px;
  line-height: 50px;
}
.top-secondary-para {
  font-size: 18px;
  font-family: "pop-regular";
  line-height: 50px;
  color: var(--gray);
  font-weight: 300;
  margin-top: 70px;
}
.employees-section-bottom {
  max-width: 450px;
  margin: auto;
}
.employees-section-bottom .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px; */
}
.employees-section-bottom .nav li {
  margin: 10px 0px 0px 10px !important;
}
.employees-section-bottom .nav-link {
  padding: 0 !important;
}
.employees-section-bottom button {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  background: unset !important;
  outline: none !important;
  border: none !important;
  width: 100%;
}
.employees-section-bottom .nav-link.active::after {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: var(--red);
  padding: 5px;
  border-radius: 25px;
}
.employees-section-bottom button img {
  border-radius: 6px;
  width: 100%;
}
/* //////////////////////////////////////////////// */
.to-top-btn-container {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #000;
  z-index: 99999999;
}
.to-top-btn-container a {
  padding: 14px 17px;
}
.to-top-btn-container svg {
  color: var(--white);
}
